/__pycache__
/input
/output
.venv

# UV stuff
pyproject.toml
.python-version
uv.lock

.preprocessing
copernicus-data
raw-data

observations_HD
litt

# Notebook for downloading altimetry data
download_altimetry_data.ipynb

# Files for point obs extraction
point_extraction.dxfm
point_extraction.log

# Temp 
README_HD.md
