/__pycache__
/input
/output
/output_old
.venv

# UV stuff
pyproject.toml
.python-version
uv.lock

# Copernicus
copernicus-data
raw-data
download_copernicus_data.ipynb
copernicus_utils.py

# Observations
observations_HD
observations_old
.lit

# Notebook for downloading altimetry data
download_altimetry_data.ipynb

# Notebook for formatting input files
format_input_files.ipynb
create_output_sample.ipynb
data_cleaning.ipynb

# Files for point obs extraction
point_extraction.dxfm
point_extraction.log

# Temp 
README_HD.md
input_old

# Zip-files
MIKE21SW-SouthernNorthSea-input.zip
MIKE21SW-SouthernNorthSea-output.zip
